/**
 * Application initial colors
 */

$black: #000000;
$white: #ffffff;
$red: #ed6950;

$textPrimary: #606f81;
$textSecondary: #ffc74a;

$buttonText: #b98000;
$buttonPrimaryColor: #bdc8d9;
$buttonSecondaryColor: #8d97a5;
